  <main>
    <article class="body123">

      <!-- 
        HERO
      -->








      </div>


      <div class="btn-group">

      </div>

      </section>





      <!-- 
        - LOGIN
      -->

      <section class="login">
        <div class="container">

          <form action="" class="input-box">

            <div>
              <div class="flogin">
                <Label ><b> Faça seu Login</b></Label>
              </div>

            
              <label for="email" class="input-label">E-mail*</label>
              <input class="input-login" type="email" name="e-mail" id="e-mail" required
                placeholder="Digite seu e-mail">
            </div>

            <div>

             
              <label for="password" class="input-box">Senha*</label>
              <input class="input-login" type="password" name="senha" id="senha" require placeholder="Digite sua senha"
                required>

            </div>
          </form>






            <!-- 
   - CADASTRAR E LOGIN
  -->

          <a href="">
            <button type="submit" class="buttonlogin">Login</button>
          </a>
          <label for=""></label>



          <label class="nplogin" for="nplogin"> Não possui Login?<a href="/site/cadastro">&#160;<b> Cadastre-se aqui!</b></a></label>


          <div class="voltarLogin"><a href="/">&#160;<b> VOLTAR AO INICIO!</b></a></div>


        </div>
      </section>




      </div>
      </div>







      <!-- 
    IR PARA O TOPO
  -->

      <a href="#top" class="go-top" data-go-top>
        <ion-icon name="chevron-up-outline"></ion-icon>
      </a>



</article>
</main>

