<h2>{{response.titulo}}</h2>
<form action="" method="POST"> 
    <hr>
        <label for="nome" class="form-label">Nome:</label>
        <input type="text" name="nome" id="nome" class="form-control" 
            placeholder="Digite aqui o Nome do Usuário"/><br/>
        
        <label for="nome" class="form-label">Login:</label>
        <input type="text" name="login" id="login" class="form-control"
            placeholder="Digite aqui o Login do Usuário"/><br/>
        
        <label for="nome" class="form-label">Senha:</label>
        <input type="password" name="senha" id="senha" class="form-control"
            placeholder="Digite aqui a Senha do Usuário"/><br/>

        <button type="submit" class="btn btn-success">Salvar</button>
        
        <a href="/usuario" class="btn btn-danger">Cancelar</a>
</form>

<body id="top">

  <!-- 
    HEADER
  -->

  <header class="header" data-header>

    <div class="overlay" data-overlay></div>

    <div class="header-top">
      <div class="container">


        <button class="nav-open-btn" aria-label="Open Menu" data-nav-open-btn>
          <ion-icon name="menu-outline"></ion-icon>
        </button>

      </div>

    </div>
    </div>

    <div class="header-bottom">
      <div class="container">



        <nav class="navbar" data-navbar>

          <div class="navbar-top">





            <button class="nav-close-btn" aria-label="Close Menu" data-nav-close-btn>
              <ion-icon name="close-outline"></ion-icon>
            </button>

          </div>

          <ul class="navbar-list">

            <li>
              <a href="main.html" class="navbar-link" data-nav-link>Inicio</a>
            </li>

            <li>
              <a href="main.html" class="navbar-link" data-nav-link>Sobre nós</a>
            </li>

            <li>
              <a href="main.html" class="navbar-link" data-nav-link>Destinos</a>
            </li>

            <li>
              <a href="main.html" class="navbar-link" data-nav-link>Pacotes</a>
            </li>

            <li>
              <a href="main.html" class="navbar-link" data-nav-link>Galeria</a>
            </li>

            <li>
              <a href="#contact" class="navbar-link" data-nav-link>Contatos</a>
            </li>

            <li>

            <li>
              <a href="login.html" class="navbar-link" data-nav-link>Login</a>
            </li>


          </ul>

        </nav>


      </div>
    </div>

  </header>





  <main>
    <article class="body123">

      <!-- 
        HERO
      -->
      </div>


      <div class="btn-group">

      </div>

      </section>





      <!-- 
        - LOGIN
      -->

      <section class="login">
        <div class="container">

          <form action="" class="input-box">
            <div class="flogin">

              <Label class="fcadastro"><b> Faça seu Cadastro</b></Label>
            </div>


            <div>
            <label for="nome" class="input-label">Nome completo*</label>
              <input class="input-login" type="text" name="nome" id="nome" required
                placeholder="Digite seu e-mail">
            </div>

            <div>
              <label for="cpf" class="input-label">CPF*</label>
                <input class="input-login" type="text" name="cpf" id="cpf" required
                  placeholder="Digite seu CPF">
              </div>

              <div>
              <label for="datanas" class="input-box">Data de Nascimento*</label>
              <input class="input-login" type="date" name="datanas" id="datanas" 
               required>
              </div>

            <div>
              <label for="email" class="input-label">E-mail*</label>
              <input class="input-login" type="email" name="e-mail" id="e-mail" required
                placeholder="Digite seu e-mail">
            </div>

            <label for="telefone" class="input-label">Telefone*</label>
              <input class="input-login" type="tel" name="telefone" id="telefone" required
                placeholder="Digite seu telefone">

            <div>
              <span class="icon">
                <ion-icon name="email"></ion-icon>
              </span>
              <label for="password" class="input-box">Senha*</label>
              <input class="input-login" type="password" name="senha" id="senha" require placeholder="Digite sua senha"
                required>

            </div>






            <!-- 
   - CADASTRAR E LOGIN
  -->


          </form>


          <a href="">
            <button type="submit" class="cadastrarlogin">Cadastrar</button>
          </a>
          <label for=""></label>

          <label class="npcadastro" for="npcadastro"> Já cadastrado?<a href="/views/layouts/main.handlebars">&#160;<b> Voltar!</b></a></label>


        </div>
      </section>




  







      <!-- 
    IR PARA O TOPO
  -->

      <a href="#top" class="go-top" data-go-top>
        <ion-icon name="chevron-up-outline"></ion-icon>
      </a>





      <!-- 
    - custom js link
  -->
      <script src="script.js"></script>

      <!-- 
    - ionicon link
  -->
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>