
  <main>
    <article>

      <!-- 
        HERO
      -->
  <section class="hero" id="home">
      <div class="container">

        <div class="dreamst">
          <p>DREAMS TURISMO</p>
        </div>

      </div>


    <div class="btn-group">
      <a href="/usuario/login"><button class="btn btn-primary">Fazer Login</button></a>

      <a href="/site/destinos"><button class="btn btn-secondary">Agende agora</button></a>
    </div>


  </section>


      <!-- 
        PACOTES
      -->

      <section class="package" id="package">
        <div class="container">

          <p class="section-subtitle">PACOTES</p>

          <h2 class="h2 section-title">Pacotes</h2>

          <p class="section-text">

          </p>

          <ul class="package-list">




            <li>
              <div class="package-card">

                <figure class="card-banner">
                  <img src="/img/pacotes/TambauJoaopessoa.jpg" alt="Experimente as maravilhosas férias na praia"
                    loading="lazy">
                </figure>

                <div class="card-content">

                  <h3 class="h3 card-title">PACOTE PARA JOÃO PESSOA</h3>

                  <p class="card-text">
                    Com direito a hospedagem, café da manhã, voo de ida e volta. As pessoas ficarão em quartos duplos ou
                    triplos.
                  </p>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <div class="meta-box">
                        <ion-icon name="time"></ion-icon>

                        <p class="text">6D/5N</p>
                      </div>
                    </li>

                    <li class="card-meta-item">
                      <div class="meta-box">
                        <ion-icon name="people"></ion-icon>

                        <p class="text">pass: 8</p>
                      </div>
                    </li>

                    <li class="card-meta-item">
                      <div class="meta-box">
                        <ion-icon name="location"></ion-icon>

                        <p class="text">João Pessoa, Brasil</p>
                      </div>
                    </li>

                  </ul>

                </div>

                <div class="card-price">

                  <div class="wrapper">

                    <p class="reviews">(25 reviews)</p>

                    <div class="card-rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>

                  </div>

                  <p class="price">
                    R$389,99
                    <span>/ por pessoa</span>
                  </p>

                  <button class="btn btn-secondary"><a href="/site/destinos">Agende agora</a></button>

                </div>

              </div>
            </li>





            <li>
              <div class="package-card">
            
                <figure class="card-banner">
                  <img src="/img/pacotes/Foziguacu.png" alt="PACOTE PARA FOZ DO IGUAÇU" loading="lazy">
                </figure>
            
                <div class="card-content">
            
                  <h3 class="h3 card-title">PACOTE PARA FOZ DO IGUAÇU</h3>
            
                  <p class="card-text">
                    Com direito a hospedagem, café da manhã, voo de ida e volta. As pessoas ficarão em quartos duplos ou
                    triplos.
                  </p>
            
                  <ul class="card-meta-list">
            
                    <li class="card-meta-item">
                      <div class="meta-box">
                        <ion-icon name="time"></ion-icon>
            
                        <p class="text">6D/5N</p>
                      </div>
                    </li>
            
                    <li class="card-meta-item">
                      <div class="meta-box">
                        <ion-icon name="people"></ion-icon>
            
                        <p class="text">pass: 10</p>
                      </div>
                    </li>
            
                    <li class="card-meta-item">
                      <div class="meta-box">
                        <ion-icon name="location"></ion-icon>
            
                        <p class="text">Foz do iguaçu, Brasil</p>
                      </div>
                    </li>
            
                  </ul>
            
                </div>
            
                <div class="card-price">
            
                  <div class="wrapper">
            
                    <p class="reviews">(20 reviews)</p>
            
                    <div class="card-rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>
            
                  </div>
            
                  <p class="price">
                    R$379,99
                    <span>/ por pessoa</span>
                  </p>
            
                  <button class="btn btn-secondary"><a href="/site/confirmar">Agende agora</a></button>
            
                </div>
            
              </div>
            </li>
            
            <li>
              <div class="package-card">
            
                <figure class="card-banner">
                  <img src="/img/pacotes/Curitiba-pacote.jpg" alt="PACOTE PARA CURITIBA" loading="lazy">
                </figure>
            
                <div class="card-content">
            
                  <h3 class="h3 card-title">PACOTE PARA CURITIBA</h3>
            
                  <p class="card-text">
                    Com direito a hospedagem, café da manhã, voo de ida e volta. As pessoas ficarão em quartos duplos ou
                    triplos.
                  </p>
            
                  <ul class="card-meta-list">
            
                    <li class="card-meta-item">
                      <div class="meta-box">
                        <ion-icon name="time"></ion-icon>
            
                        <p class="text">6D/5N</p>
                      </div>
                    </li>
            
                    <li class="card-meta-item">
                      <div class="meta-box">
                        <ion-icon name="people"></ion-icon>
            
                        <p class="text">pass: 10</p>
                      </div>
                    </li>
            
                    <li class="card-meta-item">
                      <div class="meta-box">
                        <ion-icon name="location"></ion-icon>
            
                        <p class="text">Curitiba, Brasil</p>
                      </div>
                    </li>
            
                  </ul>
            
                </div>
            
                <div class="card-price">
            
                  <div class="wrapper">
            
                    <p class="reviews">(40 reviews)</p>
            
                    <div class="card-rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>
            
                  </div>
            
                  <p class="price">
                    R$320,00
                    <span>/ por pessoa</span>
                  </p>
            
                  <button class="btn btn-secondary"><a href="/site/confirmar">Agende agora</a></button>
            
                </div>
            
              </div>
            </li>
            
            </ul>
            
            </div>
            </section>



        <!-- 
          - POPULARES
         -->



             <section class="popular" id="destination">
        <div class="container">

          <p class="section-subtitle">Descubra</p>

          <h2 class="h2 section-title">Destinos Populares</h2>

          <p class="section-text">

          </p>

          <ul class="popular-list">

            <li>
              <div class="popular-card">

                <figure class="card-img">
                  <img src="/img/populares/gramado.jpeg" alt="Gramado, Brasil" loading="lazy">
                </figure>

                <div class="card-content">

                  <div class="card-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                  </div>

                  <p class="card-subtitle">
                    <a href="#">Brasil</a>
                  </p>

                  <h3 class="h3 card-title">
                    <a href="/site/destinos/">GRAMADO</a>
                  </h3>

                  <p class="card-text">
                    O clima frio e o charme europeu - que mistura as culturas alemã, italiana e suíça - fazem de Gramado
                    um dos destinos mais escolhidos por turistas brasileiros que buscam um passeio romântico ou relaxar.
                  </p>

                </div>

              </div>
            </li>

            <li>
              <div class="popular-card">

                <figure class="card-img">
                  <img src="/img/populares/LencoisMaranhenses.jpg" alt="LencoisMaranhenses, Brasil" loading="lazy">
                </figure>

                <div class="card-content">

                  <div class="card-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                  </div>

                  <p class="card-subtitle">
                    <a href="#">Brasil</a>
                  </p>

                  <h3 class="h3 card-title">
                    <a href="/site/destinos/">Lençois Maranhenses</a>
                  </h3>

                  <p class="card-text">
                    Localizados no noroeste do Maranhão e distantes 250 km da capital São Luís, os Lençóis Maranhenses
                    atraem turistas em busca do fenômeno único das lagoas interdunares à beira-mar.
                  </p>

                </div>

              </div>
            </li>

            <li>
              <div class="popular-card">

                <figure class="card-img">
                  <img src="/img/populares/Paraty.jpg" alt="Paraty, Brasil" loading="lazy">
                </figure>

                <div class="card-content">

                  <div class="card-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                  </div>

                  <p class="card-subtitle">
                    <a href="#">Brasil</a>
                  </p>

                  <h3 class="h3 card-title">
                    <a href="/site/destinos/">Paraty</a>
                  </h3>

                  <p class="card-text">
                    Extremamente conservada, a cidade preserva casarões antigos do período colonial em ruas de pedras
                    que nos fazem voltar no tempo em um cenário cercado por uma natureza exuberante.
                  </p>

                </div>

              </div>
            </li>

          </ul>

          <button class="btn btn-primary"> <a href="/site/destinos"> Mais destinos </a></button>

        </div>
      </section>






      <!-- 
        SOBRE NÓS
      -->

      <section class="sobre123">
      <h2 class="h2 section-title" id="sobrenos">SOBRE NÓS</h2>
      </section>

      <section class="sobrenos" >
        
        <div class="sobrenos">

          <p class="sobrenos-texto">
            Somos uma empresa dedicada a proporcionar experiências de viagem incríveis e inesquecíveis para nossos clientes. Nós nos
            esforçamos para oferecer a mais alta qualidade de serviços de viagens, desde o planejamento até a execução, para que
            você possa relaxar e desfrutar de cada momento.
            
            Nossa equipe altamente qualificada está sempre pronta para ajudar você a planejar sua viagem dos sonhos, oferecendo
            sugestões personalizadas e atendimento excepcional ao cliente. Nosso objetivo é tornar cada viagem uma experiência única
            e memorável.
            
            Além disso, estamos comprometidos em fornecer um serviço de agendamento conveniente e eficiente para tornar todo o
            processo de reserva simples e livre de estresse. Queremos que você se concentre em aproveitar a viagem e deixe as
            preocupações conosco.
            
            Na Dreams Turismo, acreditamos que cada viagem deve ser uma aventura emocionante e inesquecível. Estamos ansiosos para
            ajudá-lo a criar lembranças duradouras e esperamos recebê-lo em breve em uma de nossas viagens incríveis. Entre em
            contato conosco para começarmos a planejar sua próxima aventura!
          </p>
        </div>
      </section>






      <!-- 
        GALERIA
      -->

      <section class="gallery" id="gallery">
        <div class="container">

          <p class="section-subtitle">Galeria de Fotos</p>

          <h2 class="h2 section-title">Fotos de viajantes</h2>

          <p class="section-text">
            Fotos tiradas por viajantes em suas viagens realizadas por nossa agência.
          </p>


          <ul class="gallery-list">

            <li class="gallery-item">
              <figure class="gallery-image">
                <img src="/img/galeria/gramado2.jpg" alt="Galeria - Gramado, Brasil">
              </figure>
            </li>

            <li class="gallery-item">
              <figure class="gallery-image">
                <img src="/img/galeria/porto seguro.jpg" alt="Galeria - Gramado, Brasile">
              </figure>
            </li>

            <li class="gallery-item">
              <figure class="gallery-image">
                <img src="/img/galeria/campos do jordao.jpg" alt="Galeria - Gramado, Brasil">
              </figure>
            </li>

            <li class="gallery-item">
              <figure class="gallery-image">
                <img src="/img/galeria/Maragogi.jpg" alt="Galeria - Gramado, Brasil">
              </figure>
            </li>

            <li class="gallery-item">
              <figure class="gallery-image">
                <img src="/img/galeria/Jericoacoara.png" alt="Galeria - Jericoacoara, Brasil">
              </figure>
            </li>


          </ul>

        </div>
      </section>


    






      <!-- 
        CTA
      -->

      <section class="cta" id="contact">
        <div class="container">

          <div class="cta-content">
            <p class="section-subtitle"></p>

            <h2 class="h2 section-title">Pronto para a viagem de seus sonhos. Lembre-se de nós!</h2>

          </div>

          

        </div>
      </section>

    </article>
  </main>






  

      
