  <main>
    <article class="body123">

      <!-- 
        HERO
      -->
      </div>


      <div class="btn-group">

      </div>

      </section>



      <!-- 
        - CADASTRO
      -->

      <section class="login">
        <div class="container">

          <form action="" class="input-box" method="post">
            <div class="flogin">

              <Label class="fcadastro"><b> Faça seu Cadastro</b></Label>
            </div>


            <div>
            <label for="nome" class="input-label">Nome completo*</label>
              <input class="input-login" type="text" name="nome" id="nome" required
                placeholder="Digite seu nome">
            </div>

            <div>
              <label for="cpf" class="input-label">CPF*</label>
                <input class="input-login" type="text" name="cpf" id="cpf" required
                  placeholder="Digite seu CPF">
              </div>

              <div>
              <label for="datanas" class="input-box">Data de Nascimento*</label>
              <input class="input-login" type="date" name="datanascimento" id="datanascimento" 
               required>
              </div>

            <div>
              <label for="email" class="input-label">E-mail*</label>
              <input class="input-login" type="email" name="e-mail" id="e-mail" required
                placeholder="Digite seu e-mail">
            </div>

            <label for="telefone" class="input-label">Telefone*</label>
              <input class="input-login" type="tel" name="telefone" id="telefone" required
                placeholder="Digite seu telefone">

            <div>
    
              <label for="password" class="input-box">Senha*</label>
              <input class="input-login" type="password" name="senha" id="senha" require placeholder="Digite sua senha"
                required>

            </div>


            <button type="submit" class="cadastrarlogin">Cadastrar</button>
          
        <label for=""></label>

          <label class="npcadastro" for="npcadastro"> Já cadastrado?<a href="/usuario/login">&#160;<b> Voltar!</b></a></label>



            <!-- 
   - CADASTRAR E LOGIN
  -->


          </form>


        
          

          
        </div>
      </section>




  



      <!-- 
    IR PARA O TOPO
  -->

      <a href="#top" class="go-top" data-go-top>
        <ion-icon name="chevron-up-outline"></ion-icon>
      </a>
    </article>
    </main>
