  <main>
    <article class="body123">

      <!-- 
        HERO
      -->
      </div>


      <div class="btn-group">

      </div>

      </section>



      <!-- 
        - LOGIN
      -->

      <section class="login">
        <div class="container">

          <form class="input-box" method="post">
            <div class="flogin">

              <Label class="fcadastro"><b>Cadastrar Pacote</b></Label>
            </div>


            <div>
              <label for="titulo" class="input-label">Titulo*</label>
              <input class="input-login" type="text" name="titulo" id="titulo" required placeholder="Digite o nome do pacote">
            </div>
            
            <div>
              <label for="fotoDestaque" class="input-label">FotoDestaque</label>
              <input class="input-login" type="text" name="fotoDestaque" id="fotoDestaque" required placeholder="Digite o nome do pacote">
            </div>

            
            <div>
              <label for="fotoLista" class="input-label">fotoLista</label>
              <input class="input-login" type="text" name="fotoLista" id="fotoLista" required placeholder="Digite o nome do pacote">
            </div>

            <div>
              <label for="fotoBanner" class="input-label">fotoBanner</label>
              <input class="input-login" type="text" name="fotoBanner" id="fotoBanner" required placeholder="Digite o nome do pacote">
            </div>
            
            <div>
              <label for="descricao" class="input-box"> Descricao:</label>
              <input class="input-login" type="text" name="descricao" id="descricao" required placeholder="Digite o nome do pacote">
            </div>

            <div>
              <label for="descricaoDestaque" class="input-box"> Descricao:</label>
              <input class="input-login" type="text" name="descricaoDestaque" id="descricaoDestaque" required placeholder="Digite o nome do pacote">
            </div>

            <div>
              <label for="hotel" class="input-box"> Hotel:</label>
              <input class="input-login" type="text" name="hotel" id="hotel" required placeholder="Digite o nome do Hotel">
            </div>

            <div>
              <label for="transporte" class="input-box"> Transporte:</label>
              <input class="input-login" type="text" name="transporte" id="transporte" required placeholder="Digite o meio de Transporte">
            </div>
            
            <div>
              <label for="periodo" class="input-label">Periodo</label>
              <input class="input-login" type="text" name="periodo" id="periodo" required placeholder="Digite o periodo de dias">
            </div>
              <label for="destino" class="input-label">Destino*</label>
              <input class="input-login" type="text" name="destino" id="destino" required placeholder="Digite o nome do Destino">
              
              <label for="pais" class="input-label">Pais</label>
              <input class="input-login" type="text" name="pais" id="pais" required placeholder="Digite o nome do País">
              
              <label for="valor" class="input-label">Valor*</label>
              <input class="input-login" type="integer" name="valor" id="valor" required placeholder="Digite o Valor">


           






            <!-- 
   - CADASTRAR E LOGIN
  --><button type="submit" class="cadastrarlogin"> Cadastrar</button>


          </form>


            
         
          <label for=""></label>

          <label class="npcadastro" for="npcadastro"><a href="/usuario/login">&#160;<b> Voltar!</b></a></label>

          
        </div>
      </section>




      <!-- 
    IR PARA O TOPO
  -->

      <a href="#top" class="go-top" data-go-top>
        <ion-icon name="chevron-up-outline"></ion-icon>
      </a>
    </article>
    </main>
