
<main>
  <article>

    <!-- 
      HERO
    -->

    <section class="hero" id="home">
      <div class="container">
    
        <div class="dreamst">
          <p>DREAMS TURISMO</p>
        </div>
      </div>
    
      <div class="btn-group">
        <a href="/site/destinos"><button class="btn btn-primary">VOLTAR PARA DESTINOS</button></a>
    
        <a href="/"><button class="btn btn-secondary">VOLTAR PARA INICIO</button></a>
      </div>
    
    </section>




<body id="top">

  <section class="tour-search1">
    <div class="container">

      <form action="" class="tour-search1-form">

        <div class="input-wrapper">
          <label for="people" class="input-label">Local desejado: *</label>

          <input type="number" name="local" id="local" required placeholder="Local" class="input-field">
        </div>

        <div class="input-wrapper">
          <label for="people" class="input-label">Número de passageiros*</label>

          <input type="number" name="people" id="people" required placeholder="N. de passageiros" class="input-field">
        </div>

        <div class="input-wrapper">
          <label for="checkin" class="input-label">Data de ida**</label>

          <input type="date" name="checkin" id="checkin" required class="input-field">
        </div>

        <div class="input-wrapper">
          <label for="checkout" class="input-label">Data de retorno*</label>

          <input type="date" name="checkout" id="checkout" required class="input-field">
        </div>

        <button type="submit" class="confirma">Confirmar Agendamento</button>

      </form>

    </div>
  </section>

</body>